
/* .App {
  text-align: center;
  padding: 5px;
  font-family: Arial, sans-serif;
  background-color:azure;
}

h1 {
  color:#1aa395;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

input, select, textarea {
  width: 100%;
  padding: 7px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="radio"], input[type="checkbox"] {
  width: auto;
  margin: 0 10px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -2px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.button {
  background-color: #1aa395;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Added transition */
/* }


.button:hover {
  background-color: #188c82;

}

textarea {
  height: 80px;
}

button {
  width: 100%;
} */ 

